.todoGenerator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-left: 25%;
}

.todoGenerator button {
  cursor: pointer;
}

.floating-alert {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}

input {
  background-color: rgba(165, 163, 163, 0.659) !important;
  border: rgba(241, 240, 240, 0.696) !important;
}

button {
  background-color: rgba(29, 27, 27, 0.781) !important;
}