.todoItem {
    border: 1px solid #ccc;
    list-style-type: none; 
    align-items: center;
    justify-content: center;
    &.done {
        text-decoration: line-through;
    }
}

div.ant-card-body {
    width: 100%;
}